<?xml version="1.0"?>
<gbb>
	<addresses>
		<!-- [GBA]Advaced Wars 1.1: LZ77 Address -->

		<!-- Title Screen: 000 -->
		<address>0x13750c</address>

		<!-- Miscellaneous 01: 001 - 006-->
		<address>0x0a0ecc</address>
		<address>0x0a2318</address>
		<address>0x0a1e70</address>
		<address>0x0f3074</address>
		<address>0x116678</address>
		<address>0x1170e0</address>

		<!-- Miscellaneous 02: 007 - 011 -->
		<address>0x0fff64</address>
		<address>0x100b78</address>
		<address>0x10151c</address>
		<address>0x1148e4</address>
		<address>0x102aa4</address>

		<!-- Miscellaneous 03: 012 - 013 -->
		<address>0x0f447c</address>
		<address>0x113f18</address>

		<!-- Miscellaneous 04: 014 - 021 -->
		<address>0x12ae64</address>
		<address>0x0f447c</address>
		<address>0x114d2c</address>
		<address>0x114b60</address>
		<address>0x0d1928</address>
		<address>0x0a2318</address>
		<address>0x0a1e70</address>
		<address>0x0a0ecc</address>
	</addresses>
</gbb>